doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="styles/index.css")
    link(rel="shortcut icon", href="src/page_title/drop.png" type="image/x-icon")
    title STOP WAR
  body
    header
    main
      .container
        .photo__block
          .item
            img.photo(src="src/main/1.jpg")
          .item
            img.photo(src="src/main/2.jpg")
          .item
            img.photo(src="src/main/3.jpg")
          .item
            img.photo(src="src/main/4.jpg")
          .item
            img.photo(src="src/main/5.jpg")
          .item
            img.photo(src="src/main/6.jpg")
          .item
            img.photo(src="src/main/7.jpg")
          .item
            img.photo(src="src/main/8.jpg")
          .item
            img.photo(src="src/main/9.jpg")
          .item 
            img.photo(src="src/main/10.jpg")
          .item
            img.photo(src="src/main/11.jpg")
          .item
            img.photo(src="src/main/12.jpg")
          .item 
            img.photo(src="src/main/13.jpg")
          .item
            img.photo(src="src/main/14.jpg")
          .item
            img.photo(src="src/main/15.jpg")
          .item 
            img.photo(src="src/main/16.jpg")
          .item
            img.photo(src="src/main/17.jpg")
          .item
            img.photo(src="src/main/18.jpg")
          .item 
            img.photo(src="src/main/19.jpg")
          .item
            img.photo(src="src/main/20.jpg")
          .item
            img.photo(src="src/main/21.jpg")
          .item 
            img.photo(src="src/main/22.jpg")
          .item
            img.photo(src="src/main/23.jpg")
          .item
            img.photo(src="src/main/24.jpg")
          .item 
            img.photo(src="src/main/25.jpg")
          .item
            img.photo(src="src/main/26.jpg")
          .item
            img.photo(src="src/main/27.jpg")
          .item 
            img.photo(src="src/main/28.jpg")
          .item
            img.photo(src="src/main/29.jpg")
          .item
            img.photo(src="src/main/30.jpg")
          .item 
            img.photo(src="src/main/31.jpg")
          .item
            img.photo(src="src/main/32.jpg")
          .item
            img.photo(src="src/main/33.jpg")
          .item 
            img.photo(src="src/main/34.jpg")
          .item
            img.photo(src="src/main/35.jpg")
          .item
            img.photo(src="src/main/36.jpg")
          .item 
            img.photo(src="src/main/37.jpg")
          .item
            img.photo(src="src/main/38.jpg")
          .item
            img.photo(src="src/main/39.jpg")
          .item 
            img.photo(src="src/main/40.jpg")
          .item 
            img.photo(src="src/main/41.jpg")
          .item
            img.photo(src="src/main/42.jpg")
          .item
            img.photo(src="src/main/43.jpg")
          .item 
            img.photo(src="src/main/44.jpg")
          .item
            img.photo(src="src/main/45.jpg")
          .item
            img.photo(src="src/main/46.jpg")
          .item 
            img.photo(src="src/main/47.jpg")
          .item
            img.photo(src="src/main/48.jpg")
          .item
            img.photo(src="src/main/49.jpg")
          .item 
            img.photo(src="src/main/50.jpg")
          .item 
            img.photo(src="src/main/51.jpg")
        .text__block
          .title
            h1.h1. 
              Немного мыслей в слух<br>
              A few thoughts out loud
          .content
            .text__rus 
              .text__title.
                На русском языке<br>
                On russian language
              .text__content.
                Страх. Ужас. Крик… потом все это переходит в ненависть,
                 и эта ненависть не на года, эта ненависть на несколько поколений.
                 <br>
                 <br>
                Спасатели, с*ка, в своей великой бензоколонке не могут спасти своих людей в деревнях,
                 и создаете сайты типа <a class="link" link href="https://podari-drova.ru/">https://podari-drova.ru/</a>   подари бабушке дрова и это в 21 веке?
                 Это как бы даже просто в голове не укладывается.
                 <br>
                 <br>
                Кого вы поехали спасать? Харьков? Цветущий и красивый, и мало того русскоязычный!!!
                 Да в него из других городов люди ездили на экскурсии чтоб посмотреть, как процветает город.
                 <br>
                 <br>
                Армия рф  - вторая армия в мире???  – оказалось просто раздутый мыльный пузырь, который лопнул наткнувшись на вилы маленькой Украины. Кстати, украинцы хотят поблагодарить российских коррупционеров, которые все эти года разворовывали армию, а на бумаге рисовали красивые цифры.
                 <br>
                 <br>
                Не хочу описывать, боль и ад происходящего, об этом можно писать бесконечно. Доказывать россиянам, что им врут ЛЖЕСМИ и путин –бесполезно, тут нас рассудит только история, как рассудила в 1945 фашистов, которые так же нападали на соседние государства. Единственное, просто хочется сказать одно, что если у человека (в данном случае имеется ввиду РФ), все люди вокруг плохие и являются врагами, то может все-таки проблема в самом этом человеке?
                 <br>
                 <br>
                Подпись: я русскоязычная украинка и я не просила меня спасать.
            .text__eng
              .text__title.
                На английском языке<br>
                On english language
              .text__content.
                Fear. Horror. Scream... then everything turns to hate
                 and this hatred is not for years, it is hatred for several generations.
                 <br>
                 <br>
                Rescuers, bitch, at their great gas station can't save their people in the villages
                 and create sites like <a class="link" href="https://podari-drova.ru/">https://podari-drova.ru/</a> give the grandmother firewood and this is in the 21st century?
                 It's like it just doesn't fit in my head.
                 <br>
                 <br>
                Who are you going to save? Kharkov? Blooming and beautiful, and, moreover, Russian-speaking !!!
                 Yes, people from other cities went on excursions to see how the city flourished.
                 <br>
                 <br>
                Russian army - the second army in the world??? - turned out to be just an inflated soap bubble that burst when it stumbled upon the pitchfork of little Ukraine. By the way, Ukrainians want to thank the Russian corrupt officials who have been robbing the army all these years and drawing beautiful figures on paper.
                 <br>
                 <br>
                I do not want to describe the pain and hell of what is happening, you can write about it endlessly. It is useless to prove to the Russians that they are being deceived by the LZESMI and Putin, then only history will judge us, as the Nazis judged in 1945, who also attacked neighboring states. The only thing I just want to say is that if a person (in this case we mean the Russian Federation), all the people around him are bad and enemies, then maybe the problem is in this person himself?
                 <br>
                 <br>
                Signature: I am a Russian-speaking Ukrainian and did not ask to save me.

